BUILD/
Dist/

*.ncb
*.suo
*.user
*.aps
*.plg
*.opt
*.pdb
*.idb
*.ilk
*.pch
*.obj
*.dep
*.manifest
*.sdf
*.opensdf
*.cachefile

Debug/
Release/
*/Debug/
*/Release/
obj/
*/obj/
Bin/
bin/

*.log
*.tmp
*.bak
*.old
*.orig
*.rej
*.swp
*~

Roms/
ROMS/
Saves/
Screenshots/

.DS_Store
Thumbs.db

xdk/